In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("HR_comma_sep.csv")

In [5]:
y = data["left"]

In [6]:
x = data.drop(["left"], axis=1)

In [7]:
x["sales"].value_counts(normalize=True)

sales          0.276018
technical      0.181345
support        0.148610
IT             0.081805
product_mng    0.060137
marketing      0.057204
RandD          0.052470
accounting     0.051137
hr             0.049270
management     0.042003
Name: sales, dtype: float64

In [8]:
y.head

<bound method Series.head of 0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
14969    1
14970    1
14971    1
14972    1
14973    1
14974    1
14975    1
14976    1
14977    1
14978    1
14979    1
14980    1
14981    1
14982    1
14983    1
14984    1
14985    1
14986    1
14987    1
14988    1
14989    1
14990    1
14991    1
14992    1
14993    1
14994    1
14995    1
14996    1
14997    1
14998    1
Name: left, dtype: int64>

In [9]:
x.head

<bound method DataFrame.head of        satisfaction_level  last_evaluation  number_project  \
0                    0.38             0.53               2
1                    0.80             0.86               5
2                    0.11             0.88               7
3                    0.72             0.87               5
4                    0.37             0.52               2
5                    0.41             0.50               2
6                    0.10             0.77               6
7                    0.92             0.85               5
8                    0.89             1.00               5
9                    0.42             0.53               2
10                   0.45             0.54               2
11                   0.11             0.81               6
12                   0.84             0.92               4
13                   0.41             0.55               2
14                   0.36             0.56               2
15                   0.38             0.54               2
16                   0.45             0.47               2
17                   0.78             0.99               4
18                   0.45             0.51               2
19                   0.76             0.89               5
20                   0.11             0.83               6
21                   0.38             0.55               2
22                   0.09             0.95               6
23                   0.46             0.57               2
24                   0.40             0.53               2
25                   0.89             0.92               5
26                   0.82             0.87               4
27                   0.40             0.49               2
28                   0.41             0.46               2
29                   0.38             0.50               2
...                   ...              ...             ...
14969                0.43             0.46               2
14970                0.78             0.93               4
14971                0.39             0.45               2
14972                0.11             0.97               6
14973                0.36             0.52               2
14974                0.36             0.54               2
14975                0.10             0.79               7
14976                0.40             0.47               2
14977                0.81             0.85               4
14978                0.40             0.47               2
14979                0.09             0.93               6
14980                0.76             0.89               5
14981                0.73             0.93               5
14982                0.38             0.49               2
14983                0.72             0.84               5
14984                0.40             0.56               2
14985                0.91             0.99               5
14986                0.85             0.85               4
14987                0.90             0.70               5
14988                0.46             0.55               2
14989                0.43             0.57               2
14990                0.89             0.88               5
14991                0.09             0.81               6
14992                0.40             0.48               2
14993                0.76             0.83               6
14994                0.40             0.57               2
14995                0.37             0.48               2
14996                0.37             0.53               2
14997                0.11             0.96               6
14998                0.37             0.52               2

       average_montly_hours  time_spend_company  Work_accident  \
0                       157                   3              0
1                       262                   6              0
2                       272                   4              0
3                       223                   5              0
4                       159                   3              0
5                       153                   3              0
6                       247                   4              0
7                       259                   5              0
8                       224                   5              0
9                       142                   3              0
10                      135                   3              0
11                      305                   4              0
12                      234                   5              0
13                      148                   3              0
14                      137                   3              0
15                      143                   3              0
16                      160                   3              0
17                      255                   6              0
18                      160                   3              1
19                      262                   5              0
20                      282                   4              0
21                      147                   3              0
22                      304                   4              0
23                      139                   3              0
24                      158                   3              0
25                      242                   5              0
26                      239                   5              0
27                      135                   3              0
28                      128                   3              0
29                      132                   3              0
...                     ...                 ...            ...
14969                   157                   3              0
14970                   225                   5              0
14971                   140                   3              0
14972                   310                   4              0
14973                   143                   3              0
14974                   153                   3              0
14975                   310                   4              0
14976                   136                   3              0
14977                   251                   6              0
14978                   144                   3              0
14979                   296                   4              0
14980                   238                   5              0
14981                   162                   4              0
14982                   137                   3              0
14983                   257                   5              0
14984                   148                   3              0
14985                   254                   5              0
14986                   247                   6              0
14987                   206                   4              0
14988                   145                   3              0
14989                   159                   3              1
14990                   228                   5              1
14991                   257                   4              0
14992                   155                   3              0
14993                   293                   6              0
14994                   151                   3              0
14995                   160                   3              0
14996                   143                   3              0
14997                   280                   4              0
14998                   158                   3              0

       promotion_last_5years       sales  salary
0                          0       sales     low
1                          0       sales  medium
2                          0       sales  medium
3                          0       sales     low
4                          0       sales     low
5                          0       sales     low
6                          0       sales     low
7                          0       sales     low
8                          0       sales     low
9                          0       sales     low
10                         0       sales     low
11                         0       sales     low
12                         0       sales     low
13                         0       sales     low
14                         0       sales     low
15                         0       sales     low
16                         0       sales     low
17                         0       sales     low
18                         1       sales     low
19                         0       sales     low
20                         0       sales     low
21                         0       sales     low
22                         0       sales     low
23                         0       sales     low
24                         0       sales     low
25                         0       sales     low
26                         0       sales     low
27                         0       sales     low
28                         0  accounting     low
29                         0  accounting     low
...                      ...         ...     ...
14969                      0       sales  medium
14970                      0       sales  medium
14971                      0       sales  medium
14972                      0  accounting  medium
14973                      0  accounting  medium
14974                      0  accounting  medium
14975                      0          hr  medium
14976                      0          hr  medium
14977                      0          hr  medium
14978                      0          hr  medium
14979                      0   technical  medium
14980                      0   technical    high
14981                      0   technical     low
14982                      0   technical  medium
14983                      0   technical  medium
14984                      0   technical  medium
14985                      0   technical  medium
14986                      0   technical     low
14987                      0   technical     low
14988                      0   technical     low
14989                      0   technical     low
14990                      0     support     low
14991                      0     support     low
14992                      0     support     low
14993                      0     support     low
14994                      0     support     low
14995                      0     support     low
14996                      0     support     low
14997                      0     support     low
14998                      0     support     low

[14999 rows x 9 columns]>

In [10]:
data.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

In [11]:
data.head(-10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low
18,0.45,0.51,2,160,3,1,1,1,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low
20,0.11,0.83,6,282,4,0,1,0,sales,low
21,0.38,0.55,2,147,3,0,1,0,sales,low
22,0.09,0.95,6,304,4,0,1,0,sales,low
23,0.46,0.57,2,139,3,0,1,0,sales,low
24,0.40,0.53,2,158,3,0,1,0,sales,low
25,0.89,0.92,5,242,5,0,1,0,sales,low
26,0.82,0.87,4,239,5,0,1,0,sales,low
27,0.40,0.49,2,135,3,0,1,0,sales,low
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
14959,0.59,1.00,2,155,5,0,1,0,sales,low
14960,0.82,0.86,5,257,5,0,1,0,sales,low
14961,0.73,0.97,6,189,2,0,1,0,sales,low
14962,0.78,0.66,3,164,3,0,1,0,sales,low
14963,0.09,0.95,6,271,4,0,1,0,sales,low
14964,0.10,0.97,6,280,4,0,1,0,sales,low
14965,0.45,0.46,2,149,3,0,1,0,sales,low
14966,0.83,0.81,5,219,5,0,1,0,sales,low
14967,0.43,0.51,2,128,3,0,1,0,sales,low
14968,0.40,0.47,2,128,3,0,1,0,sales,medium
14969,0.43,0.46,2,157,3,0,1,0,sales,medium
14970,0.78,0.93,4,225,5,0,1,0,sales,medium
14971,0.39,0.45,2,140,3,0,1,0,sales,medium
14972,0.11,0.97,6,310,4,0,1,0,accounting,medium
14973,0.36,0.52,2,143,3,0,1,0,accounting,medium
14974,0.36,0.54,2,153,3,0,1,0,accounting,medium
14975,0.10,0.79,7,310,4,0,1,0,hr,medium
14976,0.40,0.47,2,136,3,0,1,0,hr,medium
14977,0.81,0.85,4,251,6,0,1,0,hr,medium
14978,0.40,0.47,2,144,3,0,1,0,hr,medium
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14980,0.76,0.89,5,238,5,0,1,0,technical,high
14981,0.73,0.93,5,162,4,0,1,0,technical,low
14982,0.38,0.49,2,137,3,0,1,0,technical,medium
14983,0.72,0.84,5,257,5,0,1,0,technical,medium
14984,0.40,0.56,2,148,3,0,1,0,technical,medium
14985,0.91,0.99,5,254,5,0,1,0,technical,medium
14986,0.85,0.85,4,247,6,0,1,0,technical,low
14987,0.90,0.70,5,206,4,0,1,0,technical,low
14988,0.46,0.55,2,145,3,0,1,0,technical,low

In [14]:
z = pd.get_dummies(x["sales"])

In [15]:
z.head()

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [16]:
x["salary"].value_counts(normalize=True)

low       0.487766
medium    0.429762
high      0.082472
Name: salary, dtype: float64

In [17]:
a = pd.get_dummies(x["salary"])

In [18]:
a.head()

   high  low  medium
0   0.0  1.0     0.0
1   0.0  0.0     1.0
2   0.0  0.0     1.0
3   0.0  1.0     0.0
4   0.0  1.0     0.0

In [25]:
# x, z, a

In [22]:
x = pd.concat([x,z,a], axis=1)

In [24]:
x.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical,high,low,medium
0,0.38,0.53,2,157,3,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.80,0.86,5,262,6,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.11,0.88,7,272,4,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.72,0.87,5,223,5,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.37,0.52,2,159,3,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [26]:
from sklearn.cross_validation import train_test_splitst_split

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=123)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn_1 = KNeighborsClassifier(n_neighbors = 1)
knn_1.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [29]:
knn_1.score(x_train, y_train)

1.0

In [30]:
knn_1.score(x_test, y_test)

0.95066666666666666

In [31]:
knn_2 = KNeighborsClassifier(n_neighbors = 2)
knn_2.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

In [32]:
knn_1.score(x_test, y_test)

0.95066666666666666

In [40]:
params = {'n_neighbors': [1, 3, 4, 5, 15, 25, 50, 100, 200, 500]}

from sklearn.grid_search import GridSearchCV
knn = KNeighborsClassifier(weights='distance')
gsCV = GridSearchCV(knn, param_grid = params, cv = 3)
gsCV.fit(x_train, y_train)

GridSearchCV(cv=3, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='distance'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 3, 4, 5, 15, 25, 50, 100, 200, 500]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [41]:
gsCV.best_params_

{'n_neighbors': 5}

In [42]:
gsCV.best_score_

0.94532812648823694

In [43]:
gsCV.score(x_test, y_test)

0.94999999999999996

In [45]:
gsCV.predict(x_test.head(5))

array([0, 0, 0, 0, 0], dtype=int64)

In [46]:
a

       high  low  medium
0       0.0  1.0     0.0
1       0.0  0.0     1.0
2       0.0  0.0     1.0
3       0.0  1.0     0.0
4       0.0  1.0     0.0
5       0.0  1.0     0.0
6       0.0  1.0     0.0
7       0.0  1.0     0.0
8       0.0  1.0     0.0
9       0.0  1.0     0.0
10      0.0  1.0     0.0
11      0.0  1.0     0.0
12      0.0  1.0     0.0
13      0.0  1.0     0.0
14      0.0  1.0     0.0
15      0.0  1.0     0.0
16      0.0  1.0     0.0
17      0.0  1.0     0.0
18      0.0  1.0     0.0
19      0.0  1.0     0.0
20      0.0  1.0     0.0
21      0.0  1.0     0.0
22      0.0  1.0     0.0
23      0.0  1.0     0.0
24      0.0  1.0     0.0
25      0.0  1.0     0.0
26      0.0  1.0     0.0
27      0.0  1.0     0.0
28      0.0  1.0     0.0
29      0.0  1.0     0.0
...     ...  ...     ...
14969   0.0  0.0     1.0
14970   0.0  0.0     1.0
14971   0.0  0.0     1.0
14972   0.0  0.0     1.0
14973   0.0  0.0     1.0
14974   0.0  0.0     1.0
14975   0.0  0.0     1.0
14976   0.0  0.0     1.0
14977   0.0  0.0     1.0
14978   0.0  0.0     1.0
14979   0.0  0.0     1.0
14980   1.0  0.0     0.0
14981   0.0  1.0     0.0
14982   0.0  0.0     1.0
14983   0.0  0.0     1.0
14984   0.0  0.0     1.0
14985   0.0  0.0     1.0
14986   0.0  1.0     0.0
14987   0.0  1.0     0.0
14988   0.0  1.0     0.0
14989   0.0  1.0     0.0
14990   0.0  1.0     0.0
14991   0.0  1.0     0.0
14992   0.0  1.0     0.0
14993   0.0  1.0     0.0
14994   0.0  1.0     0.0
14995   0.0  1.0     0.0
14996   0.0  1.0     0.0
14997   0.0  1.0     0.0
14998   0.0  1.0     0.0

[14999 rows x 3 columns]

In [47]:
y_test.head(5)

6958    0
7534    0
2975    0
3903    0
8437    0
Name: left, dtype: int64